* {
  box-sizing: border-box;
  transition: 0.2s; 
}

.btn-start {
  width: 110px;
  background: tomato;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px auto;
}  
body {
  font-family: 'Raleway', sans-serif; 
}

